{% extends 'core/inv_base.html' %}
{% block content %}
<h3 style="text-align: center;">
{% if message %}{{ message }}{% endif %}<br><br>
{% if url %}<a href="{{ url }}">Подписаться с этим адресом</a>{% endif %}
</h3><br><br>
<form method="POST">
   {% csrf_token %}
   <div class="input-group mb-3">
      <input type="email" id="email" name="email" class="form-control" placeholder="Ваш email" aria-label="Recipient's username">
      <button class="btn btn-dark" type="submit"  style="color: white;background-color: #ff5500;border-color: #ff5500;">Подписаться</button>
   </div>
</form>
{% endblock content %}