{% extends 'core/inv_base.html' %}
{% block content %}
{% if message %}<h3 style="text-align: center;">{{ message }}</h3><br><br>{% endif %}
<form method="POST">
   {% csrf_token %}
   <div class="input-group mb-3">
      <input type="email" id="email" name="email" class="form-control" placeholder="Ваш email" aria-label="Recipient's username">
      <button class="btn btn-dark" type="submit"  style="color: white;background-color: #ff5500;border-color: #ff5500;">Подписаться</button>
   </div>
</form>
{% endblock content %}